.stepper[aria-current="step"]:after {
  background: var(--color-suld-75);
}

.header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.infoBox {
  background-color: #f1f2f3;
  margin-bottom: 1rem;
  padding: 4rem;
  margin-bottom: 2rem;
}

.infoBox__readonly,
.infoBox__editable {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.infoBox__item {
  width: 50%;
}

.infoBox__item span {
  white-space: nowrap;
  border: none;
}

.schoolbandinfo {
  display: block;
  width: 100%;
}

.DefaultSchoolBand h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.infoBox_checkBox {
  background-color: #f1f2f3;
  margin-bottom: 1rem;
  padding: 4rem;
  margin-bottom: 2rem;
}
