.textblocklist a {
  display: block;
}

.SchoolBand__Wrapper {
  display: flex;
}

.SchoolBand__Stepper {
  min-width: 235px;
}

.SchoolBand__Content {
  width: 100%;
}
.SchoolBand__Content p {
  margin-bottom: 32px;
  width: 583px;
}
.SchoolBand__Content .Alert {
  width: 583px;
}
