body {
  position: relative;
}

p.smalltext {
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
}

.bgrBubbles {
  background-image: url("/yellowArt.svg");
  background-repeat: no-repeat;
  background-image: url(/yellowArt.svg);
  position: absolute;
  top: 10%;
  right: 0;
  height: 530px;
  width: 160px;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: -1;
}

.RightAligned {
  margin-right: 0px;
}

hr {
  border-color: var(--color-suld-75);
}