@charset "UTF-8";
/*!@deps
	-basics
*/
/*!@deps
*/
/*! Reykjavík Design System basic CSS styles */
body {
  background-image: url(../public/yellowArt.svg);
  background-repeat: no-repeat;
  background-size: 291.55px 526.2px;
  background-position-y: 151px;
  background-position-x: calc(100% + 47px);
}
.RightAligned {
  margin-right: 0px;
}
@media screen {
  :root {
    --bp-w-phone: 320;
    --bp-w-phablet: 480;
    --bp-w-tablet: 760;
    --bp-w-netbook: 980;
    --bp-w-wide: 13688;
    --bp-w-Hamburger: var(--bp-w-netbook);
    --browser-scrollbar-width: 16px;
    --baseVerticalMargin: calc(0.76336vw + 13.55725px);
    --baseVerticalMargin-2: calc(1.52672vw + 27.1145px);
    --link-color: var(--color-faxafloi-100);
    --link-color--hover: var(--color-faxafloi-100);
    --link-weight: var(--font-weight--bold);
    --link-underline-thickness: 0.125rem;
    --link-underline: var(--link-underline-thickness) solid transparent;
    --link-underline--hover: var(--link-underline-thickness) solid currentColor;
    --link-underline-offset: 0.15em;
    --link-transition: 200ms ease-in;
    --link-focus-outlineColor: currentColor;
    --link-focus-outline: 3px solid currentColor;
    --link-focus-outlineOffset: 2px;
    --zindex--sr-only: 99999;
    --zindex--modal: 1000;
    --zindex--header: 100;
    --zindex--overlay: 10;
    --zindex--Bling--overlay: 2;
    --zindex--Bling: -10;
    --grid-margin: calc(5.72519vw + 1.67939px);
    --grid-margin--neg: calc(-5.72519vw + -1.67939px);
    --grid-margin--right: calc(
      var(--grid-margin) - var(--browser-scrollbar-width)
    );
    --grid-margin--right--neg: calc(
      var(--grid-margin--neg) + var(--browser-scrollbar-width)
    );
    --grid-edge: var(--grid-margin);
    --grid-edge--neg: var(--grid-margin--neg);
    --grid-edge--right: var(--grid-margin--right);
    --grid-edge--right--neg: var(--grid-margin--right--neg);
    --grid-0-1: calc(2.93211vw + -0.11122px);
    --grid-1: calc(4.69137vw + -0.17795px);
    --grid-1-1: calc(7.62348vw + -0.28917px);
    --grid-2: calc(12.31485vw + -0.46711px);
    --grid-2-2: calc(15.24695vw + -0.57833px);
    --grid-3: calc(19.93832vw + -0.75628px);
    --grid-3-3: calc(22.87043vw + -0.8675px);
    --grid-4: calc(27.5618vw + -1.04545px);
    --grid-4-4: calc(30.49391vw + -1.15667px);
    --grid-5: calc(35.18528vw + -1.33461px);
    --grid-5-5: calc(38.11739vw + -1.44583px);
    --grid-6: calc(42.80876vw + -1.62378px);
    --grid-6-6: calc(45.74086vw + -1.735px);
    --grid-7: calc(50.43223vw + -1.91295px);
    --grid-7-7: calc(53.36434vw + -2.02416px);
    --grid-8: calc(58.05571vw + -2.20211px);
    --grid-8-8: calc(60.98782vw + -2.31333px);
    --grid-9: calc(65.67919vw + -2.49128px);
    --grid-9-9: calc(68.61129vw + -2.6025px);
    --grid-10: calc(73.30266vw + -2.78045px);
    --grid-10-10: calc(76.23477vw + -2.89166px);
    --grid-11: calc(80.92614vw + -3.06961px);
    --grid-11-11: calc(83.85825vw + -3.18083px);
    --grid-12: calc(88.54962vw + -3.35878px);
    --grid-gutter: var(--grid-0-1);
    --grid-column: var(--grid-1);
    --grid-0-1--neg: calc(-2.93211vw + 0.11122px);
    --grid-1--neg: calc(-4.69137vw + 0.17795px);
    --grid-gutter--neg: var(--grid-0-1--neg);
    --grid-column--neg: var(--grid-1--neg);
    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 1.5rem;
    --space-4: 2rem;
    --space-5: 2.5rem;
    --space-0_5: 0.25rem;
    --space-1_5: 0.75rem;
    --space-1--neg: -0.5rem;
    --space-2--neg: -1rem;
    --space-3--neg: -1.5rem;
    --space-4--neg: -2rem;
    --space-5--neg: -2.5rem;
    --space-0_5--neg: -0.25rem;
    --space-1_5--neg: -0.75rem;
    --component-vspace--small: calc(4.31034% + 17.93103px);
    --component-vspace--medium: calc(6.46552% + 21.89655px);
    --component-vspace--large: calc(8.62069% + 25.86207px);
    --component-vspace--xlarge: calc(14.00862% + 30.77586px);
    --font-family: Esja, Helvetica, Arial, sans-serif;
    --font-weight--normal: 400;
    --font-weight--bold: 700;
    --font-base-size: 16px;
    --font-base-leading: 24px;
    --font-base: var(--font-base-size) / var(--font-base-leading)
      var(--font-family);
    --font-hd-xl: var(--font-weight--bold) var(--font-hd-xl-size) /
      var(--font-hd-xl-leading) var(--font-family);
    --font-hd-l: var(--font-weight--bold) var(--font-hd-l-size) /
      var(--font-hd-l-leading) var(--font-family);
    --font-hd-m: var(--font-weight--bold) var(--font-hd-m-size) /
      var(--font-hd-m-leading) var(--font-family);
    --font-hd-s: var(--font-weight--bold) var(--font-hd-s-size) /
      var(--font-hd-s-leading) var(--font-family);
    --font-sh-l: var(--font-weight--bold) var(--font-sh-l-size) /
      var(--font-sh-l-leading) var(--font-family);
    --font-sh-l-thin: var(--font-sh-l-size) / var(--font-sh-l-leading)
      var(--font-family);
    --font-sh-s: var(--font-weight--bold) var(--font-sh-s-size) /
      var(--font-sh-s-leading) var(--font-family);
    --font-bd-l: var(--font-bd-l-size) / var(--font-bd-l-leading)
      var(--font-family);
    --font-bd-s: var(--font-bd-s-size) / var(--font-bd-s-leading)
      var(--font-family);
    --font-button: var(--font-button-size) / var(--font-button-leading)
      var(--font-family);
    --font-label: var(--font-label-size) / var(--font-label-leading)
      var(--font-family);
    --font-hd-xl-size: 40px;
    --font-hd-xl-leading: 50px;
    --font-hd-l-size: 32px;
    --font-hd-l-leading: 40px;
    --font-hd-m-size: 24px;
    --font-hd-m-leading: 40px;
    --font-hd-s-size: 20px;
    --font-hd-s-leading: 30px;
    --font-sh-l-size: 20px;
    --font-sh-l-leading: 30px;
    --font-sh-s-size: 20px;
    --font-sh-s-leading: 30px;
    --font-bd-l-size: 20px;
    --font-bd-l-leading: 32px;
    --font-bd-s-size: 16px;
    --font-bd-s-leading: 24px;
    --font-button-size: 16px;
    --font-button-leading: 20px;
    --font-label-size: 12px;
    --font-label-leading: 16px;
    --Layout__header-height: 96px;
    --MainMenu-accentcolor: var(--color-faxafloi-100);
    --MainMenu-background: var(--color-faxafloi-100);
    --color-esja-25: #f4f7ff;
    --color-esja-50: #e8eeff;
    --color-esja-75: #d2ddfe;
    --color-esja-100: #a5bbfd;
    --color-esja-150: #525e7f;
    --color-faxafloi-25: #e0eefb;
    --color-faxafloi-50: #c0ddf7;
    --color-faxafloi-75: #81bbf0;
    --color-faxafloi-100: #0367e1;
    --color-faxafloi-150: #013b70;
    --color-nautholsvik-25: #fffaea;
    --color-nautholsvik-50: #fff5d5;
    --color-nautholsvik-75: #ffeaac;
    --color-nautholsvik-100: #ffd659;
    --color-nautholsvik-150: #806b2c;
    --color-heidmork-25: #fae4e5;
    --color-heidmork-50: #f5c8cb;
    --color-heidmork-75: #ec9197;
    --color-heidmork-100: #d8222f;
    --color-heidmork-150: #6c1118;
    --color-ellidarardalur-25: #e2f9ea;
    --color-ellidarardalur-50: #c4f2d5;
    --color-ellidarardalur-75: #89e6ab;
    --color-ellidarardalur-100: #64d68e;
    --color-ellidarardalur-150: #0a662b;
    --color-blafjoll-25: #ffede9;
    --color-blafjoll-50: #ffdbd3;
    --color-blafjoll-75: #fab7a9;
    --color-blafjoll-100: #f77257;
    --color-blafjoll-150: #805737;
    --color-sund-25: #eafbff;
    --color-sund-50: #d4f6ff;
    --color-sund-75: #a9edff;
    --color-sund-100: #53daff;
    --color-sund-150: #296d80;
    --color-rokkur-25: #fff1f6;
    --color-rokkur-50: #ffe3ec;
    --color-rokkur-75: #ffc6da;
    --color-rokkur-100: #ff8db5;
    --color-rokkur-150: #80475a;
    --color-suld-0: #fff;
    --color-suld-25: #f8f8f9;
    --color-suld-50: #f1f2f3;
    --color-suld-75: #e3e5e7;
    --color-suld-100: #c7cbd0;
    --color-suld-150: #707275;
    --color-suld-200: #2a2b2c;
    --color-white: #fff;
    --color-blackish: #2a2b2c;
    --border-default: 1px solid var(--color-suld-75);
    --border-dark: 1px solid var(--color-suld-150);
    --Button--gapH: calc(1.52672vw + 11.1145px);
    --Button--gapV: 1rem;
  }
}
@media screen and (min-width: 1368px) {
  :root {
    --baseVerticalMargin: 24px;
    --baseVerticalMargin-2: 48px;
    --grid-margin: 80px;
    --grid-margin--neg: -80px;
    --grid-0-1: 40px;
    --grid-1: 64px;
    --grid-1-1: 104px;
    --grid-2: 168px;
    --grid-2-2: 208px;
    --grid-3: 272px;
    --grid-3-3: 312px;
    --grid-4: 376px;
    --grid-4-4: 416px;
    --grid-5: 480px;
    --grid-5-5: 520px;
    --grid-6: 584px;
    --grid-6-6: 624px;
    --grid-7: 688px;
    --grid-7-7: 728px;
    --grid-8: 792px;
    --grid-8-8: 832px;
    --grid-9: 896px;
    --grid-9-9: 936px;
    --grid-10: 1000px;
    --grid-10-10: 1040px;
    --grid-11: 1104px;
    --grid-11-11: 1144px;
    --grid-12: 1208px;
    --grid-0-1--neg: -40px;
    --grid-1--neg: -64px;
    --grid-column--neg: var(--grid-1--neg);
  }
}
@media screen and (min-width: 480px) and (max-width: 1367px) {
  :root {
    --font-hd-xl-size: calc(3.6036vw + 22.7027px);
    --font-hd-xl-leading: calc(4.5045vw + 28.37838px);
    --font-hd-l-size: calc(3.6036vw + 14.7027px);
    --font-hd-l-leading: calc(4.5045vw + 18.37838px);
    --font-hd-m-size: calc(2.7027vw + 11.02703px);
    --font-hd-m-leading: calc(2.25225vw + 29.18919px);
    --font-hd-s-size: calc(2.25225vw + 9.18919px);
    --font-hd-s-leading: calc(2.25225vw + 19.18919px);
    --font-sh-l-size: calc(1.35135vw + 13.51351px);
    --font-sh-l-leading: calc(1.12613vw + 24.59459px);
    --font-sh-s-size: calc(0.45045vw + 17.83784px);
    --font-sh-s-leading: calc(0.22523vw + 28.91892px);
  }
}
@media screen and (min-width: 1368px) {
  :root {
    --font-hd-xl-size: 72px;
    --font-hd-xl-leading: 90px;
    --font-hd-l-size: 64px;
    --font-hd-l-leading: 80px;
    --font-hd-m-size: 48px;
    --font-hd-m-leading: 60px;
    --font-hd-s-size: 40px;
    --font-hd-s-leading: 50px;
    --font-sh-l-size: 32px;
    --font-sh-l-leading: 40px;
    --font-sh-s-size: 24px;
    --font-sh-s-leading: 32px;
  }
}
@media screen and (min-width: 980px) {
  :root {
    --Layout__header-height: calc(10.30928vw + -5.03093px);
  }
}
@media screen and (min-width: 1368px) {
  :root {
    --Layout__header-height: 136px;
    --Button--gapH: 32px;
  }
}
:root:root,
[data-color-theme][data-color-theme="trustworthy"],
[data-color-theme][data-color-theme] {
  --theme-color-primary: var(--color-faxafloi-100);
  --theme-color-primary-75: var(--color-faxafloi-75);
  --theme-color-primary-50: var(--color-faxafloi-50);
  --theme-color-primary-25: var(--color-faxafloi-25);
  --theme-color-secondary: var(--color-sund-100);
  --theme-color-secondary-75: var(--color-sund-75);
  --theme-color-secondary-50: var(--color-sund-50);
  --theme-color-secondary-25: var(--color-sund-25);
  --theme-color-tertiary: var(--color-ellidarardalur-100);
  --theme-color-tertiary-75: var(--color-ellidarardalur-75);
  --theme-color-tertiary-50: var(--color-ellidarardalur-50);
  --theme-color-tertiary-25: var(--color-ellidarardalur-25);
  --theme-color-primary--text: var(--color-white);
  --theme-color-primary--dark: var(--color-faxafloi-150);
  --theme-color-primary--safe: var(--theme-color-primary);
  --theme-color-primary--safeish: var(--theme-color-primary);
}
[data-color-theme][data-color-theme="dependable"] {
  --theme-color-primary: var(--color-faxafloi-100);
  --theme-color-primary-75: var(--color-faxafloi-75);
  --theme-color-primary-50: var(--color-faxafloi-50);
  --theme-color-primary-25: var(--color-faxafloi-25);
  --theme-color-secondary: var(--color-nautholsvik-100);
  --theme-color-secondary-75: var(--color-nautholsvik-75);
  --theme-color-secondary-50: var(--color-nautholsvik-50);
  --theme-color-secondary-25: var(--color-nautholsvik-25);
  --theme-color-tertiary: var(--color-sund-100);
  --theme-color-tertiary-75: var(--color-sund-75);
  --theme-color-tertiary-50: var(--color-sund-50);
  --theme-color-tertiary-25: var(--color-sund-25);
  --theme-color-primary--dark: var(--color-faxafloi-150);
}
[data-color-theme][data-color-theme="friendly"] {
  --theme-color-primary: var(--color-ellidarardalur-100);
  --theme-color-primary-75: var(--color-ellidarardalur-75);
  --theme-color-primary-50: var(--color-ellidarardalur-50);
  --theme-color-primary-25: var(--color-ellidarardalur-25);
  --theme-color-secondary: var(--color-rokkur-100);
  --theme-color-secondary-75: var(--color-rokkur-75);
  --theme-color-secondary-50: var(--color-rokkur-50);
  --theme-color-secondary-25: var(--color-rokkur-25);
  --theme-color-tertiary: var(--color-nautholsvik-100);
  --theme-color-tertiary-75: var(--color-nautholsvik-75);
  --theme-color-tertiary-50: var(--color-nautholsvik-50);
  --theme-color-tertiary-25: var(--color-nautholsvik-25);
  --theme-color-primary--text: var(--color-blackish);
  --theme-color-primary--dark: var(--color-ellidarardalur-150);
  --theme-color-primary--safe: #0e893b;
  --theme-color-primary--safeish: #20cb5f;
}
[data-color-theme][data-color-theme="lively"] {
  --theme-color-primary: var(--color-sund-100);
  --theme-color-primary-75: var(--color-sund-75);
  --theme-color-primary-50: var(--color-sund-50);
  --theme-color-primary-25: var(--color-sund-25);
  --theme-color-secondary: var(--color-blafjoll-100);
  --theme-color-secondary-75: var(--color-blafjoll-75);
  --theme-color-secondary-50: var(--color-blafjoll-50);
  --theme-color-secondary-25: var(--color-blafjoll-25);
  --theme-color-tertiary: var(--color-nautholsvik-100);
  --theme-color-tertiary-75: var(--color-nautholsvik-75);
  --theme-color-tertiary-50: var(--color-nautholsvik-50);
  --theme-color-tertiary-25: var(--color-nautholsvik-25);
  --theme-color-primary--text: var(--color-blackish);
  --theme-color-primary--dark: var(--color-sund-150);
  --theme-color-primary--safe: #007fa2;
  --theme-color-primary--safeish: #00c2f7;
}
[data-color-theme][data-color-theme="colorful"] {
  --theme-color-primary: var(--color-nautholsvik-100);
  --theme-color-primary-75: var(--color-nautholsvik-75);
  --theme-color-primary-50: var(--color-nautholsvik-50);
  --theme-color-primary-25: var(--color-nautholsvik-25);
  --theme-color-secondary: var(--color-heidmork-100);
  --theme-color-secondary-75: var(--color-heidmork-75);
  --theme-color-secondary-50: var(--color-heidmork-50);
  --theme-color-secondary-25: var(--color-heidmork-25);
  --theme-color-tertiary: var(--color-esja-100);
  --theme-color-tertiary-75: var(--color-esja-75);
  --theme-color-tertiary-50: var(--color-esja-50);
  --theme-color-tertiary-25: var(--color-esja-25);
  --theme-color-primary--text: var(--color-blackish);
  --theme-color-primary--dark: var(--color-nautholsvik-150);
  --theme-color-primary--safe: #967100;
  --theme-color-primary--safeish: #e6ae00;
}
/* @font-face {
  font-family: icons;
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url(i/icons.woff2?357e60448d483d93d450c9a9ca5d44e8) format("woff2"),
    url(i/icons.woff?357e60448d483d93d450c9a9ca5d44e8) format("woff");
}
@font-face {
  font-family: Esja;
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url(/assets/fonts/Esja/Esja-regular.woff2) format("woff2"),
    url(/assets/fonts/Esja/Esja-regular.woff) format("woff");
}
@font-face {
  font-family: Esja;
  font-weight: 700;
  font-style: normal;
  font-display: block;
  src: url(/assets/fonts/Esja/Esja-bold.woff2) format("woff2"),
    url(/assets/fonts/Esja/Esja-bold.woff) format("woff");
} */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  min-width: 100px;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}

/*! Normalization tweaks by Hugsmiðjan */
html {
  font-family: sans-serif;
  cursor: default;
  overflow-y: scroll;
}
[tabindex="-1"] {
  outline: none;
}
[tabindex],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
textarea {
  resize: vertical;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
abbr {
  text-decoration: none;
  border-bottom: 1px dotted;
}
sub,
sup {
  position: static;
  line-height: inherit;
  top: auto;
  bottom: auto;
  display: inline-block;
  vertical-align: middle;
}
sup {
  margin-top: -1.1em;
}
sub {
  margin-bottom: -0.85em;
}
button {
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media screen {
  *,
  :after,
  :before {
    flex-shrink: 0;
    box-sizing: border-box;
  }
  [aria-hidden][aria-hidden="true"],
  [hidden][hidden] {
    display: none;
  }
  :focus-visible:focus-visible,
  :focus:focus,
  :focus[data-focus-visible-added] {
    outline: var(--link-focus-outline);
    outline-color: var(--link-focus-outlineColor);
    outline-offset: var(--link-focus-outlineOffset);
  }
  :focus:not(:focus-visible),
  :focus[tabindex="-1"],
  [data-js-focus-visible] :focus:not([data-focus-visible-added]) {
    outline: none;
    outline-offset: 0;
  }
  html {
    min-height: 100vh;
    min-width: calc(320 - var(--browser-scrollbar-width));
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-suld-0);
    color: var(--color-suld-200);
    font: var(--font-base);
    font-weight: 400;
    quotes: "“" "”" "‘" "’";
  }
  :lang(is) {
    quotes: "„" "“" "‚" "‘";
  }
  body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
  }
  :first-child {
    margin-top: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
  }
  blockquote,
  dl,
  figure,
  ol,
  p,
  table,
  ul {
    margin: 0;
  }
  address {
    font-style: normal;
  }
  img,
  video {
    height: auto;
  }
  iframe,
  img,
  video {
    width: 100%;
    display: block;
  }
  iframe:not([frameborder="yes"]) {
    border: 0;
  }
  table {
    border-collapse: separate;
  }
  td,
  th {
    padding: 0;
  }
  abbr {
    cursor: help;
  }
  a[href^="tel:"]:not([class]) {
    --link-color: _inherit;
  }
  a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: var(--link-weight);
    padding-bottom: var(--link-underline-offset);
    border-bottom: var(--link-underline);
    transition: var(--link-transition);
    transition-property: border-color, background-color, color, text-shadow,
      box-shadow, outline;
  }
  a:active,
  a:hover {
    color: var(--link-color--hover);
    border-bottom: var(--link-underline--hover);
  }
  button {
    border: 0;
    border-radius: 0;
    padding: 0;
    background: transparent;
    font: inherit;
    text-align: inherit;
    color: inherit;
    cursor: pointer;
  }
  button:disabled {
    cursor: auto;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  input,
  select,
  textarea {
    font-size: inherit;
    line-height: inherit;
    padding: 0;
  }
  input:invalid {
    box-shadow: none;
  }
  [aria-disabled="true"],
  [disabled] {
    cursor: default;
  }
  ol {
    padding-left: 1.5em;
  }
  li ol {
    margin-bottom: 0;
  }
  ol {
    counter-reset: ol;
    list-style: none;
  }
  ol > li:before {
    counter-increment: ol;
    content: counter(ol) ". ";
    float: left;
    min-width: 2.5em;
    text-align: right;
    margin: 0 0.5em -0.5em -2.8em;
  }
  ol[data-oltype="a"] > li:before,
  ol[type="a"] {
    content: counter(ol, lower-alpha) ". ";
  }
  ol[data-oltype="A"] > li:before {
    content: counter(ol, upper-alpha) ". ";
  }
  ol[data-oltype="i"] > li:before,
  ol[type="i"] {
    content: counter(ol, lower-roman) ". ";
  }
  ol[data-oltype="I"] > li:before {
    content: counter(ol, upper-roman) ". ";
  }
  hr {
    display: block;
    margin: var(--baseVerticalMargin) 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-suld-100);
  }
  fieldset {
    padding: 0;
    border: 0;
    margin: 0;
  }
  legend {
    float: left;
  }
  legend + * {
    clear: both;
  }
  table {
    font: var(--font-bd-s);
    border-collapse: collapse;
    margin-bottom: var(--baseVerticalMargin);
  }
  caption,
  td,
  th {
    text-align: left;
  }
  td,
  th {
    vertical-align: top;
    padding: 0.5rem 1rem;
    color: var(--color-suld-150);
    font-weight: 400;
  }
  td:first-child,
  th:first-child {
    padding-left: 0;
  }
  td:last-child,
  th:last-child {
    padding-right: 0;
  }
  thead > * > th {
    font-weight: 700;
    vertical-align: bottom;
  }
  tbody > * > td,
  tbody > * > th {
    border: var(--border-default);
    border-width: 1px 0;
  }
  .BlockBreak {
    display: block;
    width: 100%;
    height: 0;
    margin: 0;
  }
  .before-sprinkling [data-seen-effect=""],
  .before-sprinkling [data-seen-effect="fadeup"],
  .before-sprinkling [data-seen-effect="true"],
  [data-seen-effect=""][data-is-seen="false"],
  [data-seen-effect=""][data-is-seen="true"],
  [data-seen-effect="fadeup"][data-is-seen="false"],
  [data-seen-effect="fadeup"][data-is-seen="true"],
  [data-seen-effect="true"][data-is-seen="false"],
  [data-seen-effect="true"][data-is-seen="true"] {
    opacity: 0;
    transform: translateY(200px);
  }
  [data-seen-effect=""][data-is-seen=""],
  [data-seen-effect=""][data-is-seen="true"],
  [data-seen-effect="fadeup"][data-is-seen=""],
  [data-seen-effect="fadeup"][data-is-seen="true"],
  [data-seen-effect="true"][data-is-seen=""],
  [data-seen-effect="true"][data-is-seen="true"] {
    opacity: 1;
    transform: none;
  }
  [data-seen-effect=""][data-is-seen="true"],
  [data-seen-effect="fadeup"][data-is-seen="true"],
  [data-seen-effect="true"][data-is-seen="true"] {
    transition: all 0.5s ease-in-out;
    transition-property: opacity, transform;
  }
  .before-sprinkling [data-seen-effect="fadein"],
  [data-seen-effect="fadein"][data-is-seen="false"],
  [data-seen-effect="fadein"][data-is-seen="true"] {
    opacity: 0;
  }
  [data-seen-effect="fadein"][data-is-seen=""],
  [data-seen-effect="fadein"][data-is-seen="true"] {
    opacity: 1;
  }
  [data-seen-effect="fadein"][data-is-seen="true"] {
    transition: all 0.5s ease-in-out;
    transition-property: opacity, transform;
  }
  .before-sprinkling [data-seen-effect="fadeleft"],
  [data-seen-effect="fadeleft"][data-is-seen="false"],
  [data-seen-effect="fadeleft"][data-is-seen="true"] {
    opacity: 0;
    transform: translateX(-200px);
  }
  [data-seen-effect="fadeleft"][data-is-seen=""],
  [data-seen-effect="fadeleft"][data-is-seen="true"] {
    opacity: 1;
    transform: none;
  }
  [data-seen-effect="fadeleft"][data-is-seen="true"] {
    transition: all 0.5s ease-in-out;
    transition-property: opacity, transform;
  }
}
@media screen {
  [class].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;
    margin: -1px;
  }
  .local-tasks {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99999;
    background: var(--color-ellidarardalur-50);
    box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.1),
      0 0 3px 0 rgba(57, 103, 76, 0.4);
    padding: 0.75rem;
  }
  .local-tasks ul {
    display: flex;
    border-bottom: 1px solid var(--color-suld-100);
  }
  .local-tasks li {
    margin-bottom: -1px;
  }
  .local-tasks li a {
    font-weight: 400;
    display: block;
    color: var(--color-suld-150);
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .local-tasks li a.is-active {
    color: var(--color-suld-200);
    background-color: var(--color-suld-0);
    border-color: var(--color-suld-100) var(--color-suld-100)
      var(--color-suld-0);
  }
}
@media screen and (max-width: 479px) {
  #mediaformat:after {
    content: "phone";
  }
}
@media screen and (min-width: 480px) and (max-width: 759px) {
  #mediaformat:after {
    content: "phablet";
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  #mediaformat:after {
    content: "tablet";
  }
}
@media screen and (min-width: 980px) and (max-width: 1367px) {
  #mediaformat:after {
    content: "netbook";
  }
}
@media screen and (min-width: 1368px) {
  #mediaformat:after {
    content: "wide";
  }
}
#mediaformat:after {
  display: none !important;
}
