p.smalltext {
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
}

.bgrBubbles {
  background-image: url("/yellowArt.svg");
  background-repeat: no-repeat;
  background-size: 291.55px 526.2px;
  background-position-y: 151px;
  background-position-x: calc(100% + 47px);
}

.RightAligned {
  margin-right: 0px;
}

hr {
  border-color: var(--color-suld-75);
}