.AboutButton {
  margin-top: 80px;
}

.MyCaseWrapper {
  margin-bottom: 4rem;
}

.TableTitle {
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
}

.TitleWrapper {
  margin-right: 136px;
}

.tableWrap {
  margin-bottom: 6rem;
}

.table {
  width: 100%;
}

/* Application styles */
.Application__wrapper {
  display: flex;
}

.Application__stepper {
  width: 170px;
  margin-right: 4rem;
}

.Application__form {
  width: calc(100% - 235px);
  max-width: 800px;
}

.Application__help {
  background-color: #e8eeff;
  position: absolute;
  width: 169px;
  padding: 1rem;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
}

.number {
  color: #0367e1;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

.help {
  margin-bottom: 0.5rem;
}

.Application__controls {
  display: flex;
  justify-content: right;
  margin-top: 88px;
}
.RightAligned {
  margin-right: 0px;
}
